body {
  font-family: 'Lobster', cursive;
  background-image: url("images/comingsoon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

html, h6, h1, h2, h3, h4, h5, p {
  font-family: 'Lobster', cursive;
}

.hidden {
  display: none;
  transition: 1s;
}
.landing-title h6 {
  text-shadow: 0px 0px 5px rgba(255,255,255,0.9);
  margin: 15px;
  font-size: 20px;
}

.logo {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.home-title {
  margin-top: 0;
  width: 65%;

}

.mdl-layout-title {
  color: white;
  font-size: 55px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mdl-navigation__link {
  text-align: center;
  border-top: .5px solid;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: inherit;
  text-shadow: 0px 0px 5px rgba(219, 219, 219, 0.92);

}

.mdl-navigation__link:last-child {
  border-bottom: .5px solid;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: white;
  font-size: 20px;
}


.mdl-layout__drawer {
  background-color: rgba(0, 0, 0, 0.7);
  border-right: none;

}

.nav-icon-container img {
  width: 20%;
}

.nav-icon-container {
float: none;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

.nav-icon-container img {
  width: 12%;
  margin: 1%;
}

.landing-title {
  text-align: center;
  padding-top: 10px;
}

.song {
  margin-bottom: 25px;
}

.demo-card-square {
  width: 100%;
}

.sign-up {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

form {
  background-image: url("images/symphony.png ");
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: .4s;
}

form p {
  font-size: 14px;
}

.mdl-textfield {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer  {
  background-color: rgba(22, 43, 90, 0.96);
  box-shadow: 0px 1000px 0px 1000px rgba(22, 43, 90, 0.96);
}
.call-to-action-content h2 {
  color: white;
  text-align: center;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background-color: red;
}

.about-page-content {
  background-color: rgba(48, 48, 48, 0.98);
  padding: 10px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.about-page-content h1 {
  color: white;
  margin: 0;
}

.about-page-content p {
  color: #c7c7c7;
  font-size: 18px;
}

.about-page-content a {
  text-decoration: none;
  color: #456092;
}

.about-page-content a:hover {
  text-decoration: underline;

}

.about-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 5px;
}

figure {
  margin: 0;
  float: left;
}

.icon img {
  margin: 3px;
  margin-top: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: .4s;
  width: 110px;
}

.icon img:hover {
  -webkit-box-shadow: 0 12px 18px -6px black;
     -moz-box-shadow: 0 12px 18px -6px black;
          box-shadow: 0 12px 18px -6px black;
}

.icon a {
  font-size: 12px;
  display: block;
}



.social-container {
  background-image: url("images/symphony.png ");
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.social-container h1 {
  margin: 10px;
}

.social-container a {
  text-decoration: none;
  color: #4c6190;
}

.social-container p {
  font-size: 16px;
  font-weight: bold;
}

.mdl-textfield label {
  color: #5c5c5c;
}

.icon-container {
float: none;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-bottom: 10px;
}

.icon-container img {
  width: 8%;
  margin: 1%;
}


@media only screen and (min-width: 750px) {

figure {
    width: 50%;
    float: right;
    margin: 5px;
}
